@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.app {
    min-width: 100vw;
    min-height: 100vh;
}

.ql-editor {
    font-size: 1.05rem; 
}

.ql-editor.ql-blank::before {
    color: rgb(130, 130, 130);
}

.ql-toolbar .ql-stroke {
    fill: none; 
    stroke: rgb(130, 130, 130);
}

.ql-toolbar .ql-fill {
    fill: rgb(130, 130, 130);
    stroke: none;
}

.ql-toolbar .ql-picker {
    color: rgb(130, 130, 130);
}